* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --text-color: #303030;
  --bg-color: #000000;
  --bg-input: #06181C;
  --bg-button: hsl(195, 91%, 25%);
  --bg-button-hover: hsl(0, 0%, 100%);

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%)

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  font-family: var(--ff-primary);
  background-color: var(--bg-color);

}

#app {
  padding: 11.5rem 16rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50rem;
  gap: 8px;
  margin-bottom: 8.7rem;
}

header #input-search {
  height: 4.8rem;
  background-color: var(--bg-input);
  border-radius: 5px;
  border: none;
  padding: 1.6rem;
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  min-width: fit-content;
}

.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

header button {
  background-color: var(--bg-button);
  color: var(--bg-button-hover);
  border-radius: 5px;
  height: 4.8rem;

  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  padding: 1.2rem 3.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header button:hover {
  background-color: var(--bg-button-hover);
  color: var(--bg-button);
}

header button:hover svg path {
  fill: var(--bg-button);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  min-width: 50rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #4A808C;
  height: 68.8rem;
}

table * {
  font-size: 1.4rem;
  color: #E1E1E6;
}

table th {
  background-color: #092D38;
  text-align: left;
  font-weight: 400;
  padding: 1.5rem;
}

table tr:nth-child(odd) {
  background: var(--bg-color);
  border: 1px solid #4A808C;
}

table tr:nth-child(even) {
  background: var(--bg-color);
  border: 1px solid #4A808C;
}

table th:first-child {
  border-top-left-radius: 0.4rem;
}

table th:last-child {
  border-top-right-radius: 0.4rem;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: 600;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

button.remove {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}