* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: #303030;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%)

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  font-family: var(--ff-primary);
  background-color: rgb(250, 254, 254);
}

button {
  background-color: var(--primary-color);
}

#app {
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-block: 2.5rem;
}

header #input-search {
  height: 3.2rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem 0 0 0.4rem;
  padding: 0 0.8rem;
  font-family: var(--ff-primary);
}

.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

header button {
  background-color: var(--primary-color);
  border-radius: 0 0.4rem 0.4rem 0;
  height: 3.2rem;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1rem 2rem -1rem rgb(0, 0, 0 / 30%);
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background-color: var(--primary-color);
  text-align: left;
  font-weight: 400;
  padding: 1.5rem;
}

table tr:nth-child(odd) {
  background: #ddd;
}

table tr:nth-child(even) {
  background: #eee;
}

table th:first-child {
  border-top-left-radius: 0.4rem;
}

table th:last-child {
  border-top-right-radius: 0.4rem;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: 600;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

button.remove {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}